{% for ance in ancestors %}
    {% if not forloop.last or extra_ance %}
        <li class="breadcrumb-item"><a href="{{ ance.get_absolute_url }}">{{ ance.get_menu_title }}</a></li>
    {% else %}
        <li class="breadcrumb-item active">{{ ance.get_menu_title }}</li> {% endif %}
    {% endfor %}
    {% if not forloop.last or extra_ance %}<!--<span class="separator">&#8250;</span>-->{% endif %}
{% if extra_ance %} <li class="breadcrumb-item active">{{ extra_ance }}</li> {% endif %}