{% load staticfiles i18n cms_tags menu_tags sekizai_tags favtags %}
{% load cms_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    {% cms_toolbar %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="">
    <title>{% block title %}{% page_attribute page_title %}{% endblock title %}</title>
    <meta name="Description" content="{% page_attribute "meta_description" %}"/>
    {% placeFavicon %}

  <!-- Bootstrap core CSS -->
  <link href="/static/themes/startbootstrap-new-age/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/themes/startbootstrap-new-age/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/themes/startbootstrap-new-age/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/static/themes/startbootstrap-new-age/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="/static/themes/startbootstrap-new-age/css/new-age.min.css" rel="stylesheet">
  {% render_block "css" %}
  {% static_placeholder "header_snippet" %}
  <link href='/static/css/custom.css' rel="stylesheet">
</head>

<body id="page-top">

  {% static_placeholder "abovemenu" %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">{% static_placeholder "brand" %}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Меню
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              {% placeholder "langing_menu" %}
          </li>
          </ul>
      </div>
    </div>
  </nav>



    {% block content %}
    {% endblock content %}

    {% block placeholders %}
    {% placeholder "firstscreen" %}
    {% static_placeholder "breadcrumbs" %}
    {% placeholder "content" %}
    {% static_placeholder "footer" %}
    {% endblock placeholders %}


  <!-- Bootstrap core JavaScript -->
  <script src="/static/themes/startbootstrap-new-age/vendor/jquery/jquery.min.js"></script>
  <script src="/static/themes/startbootstrap-new-age/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/themes/startbootstrap-new-age/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/themes/startbootstrap-new-age/js/new-age.min.js"></script>
    {% render_block "js" %}
    {% static_placeholder "footer_snippet" %}
</body>

</html>
