{% load staticfiles i18n cms_tags menu_tags sekizai_tags favtags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% cms_toolbar %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% page_attribute page_title %} - {{ request.site.name }}{% endblock title %}</title>
    <meta name="Description" content="{% page_attribute "meta_description" %}"/>
    {% placeFavicon %}
    {% block bootstrap_css %}
                <!-- Bootstrap -->
    <link href='/static/css/bootstrap.min.css' rel="stylesheet">
    {% endblock bootstrap_css %}

    {% render_block "css" %}
    {% static_placeholder "header_snippet" %}
    <link href='/static/css/custom.css' rel="stylesheet">

  </head>

  <body>
    {% block menubar %}
    {% static_placeholder "abovemenu" %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">{% static_placeholder "brand" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% with dropdown=True %}
                    {% show_menu 0 1 1 1 "includes/menu.html" %}
                {% endwith %}
            </ul>
        </div>
    </nav>
    {% endblock menubar %}


    {% block content %}
    {% endblock content %}

    {% block placeholders %}
    {% placeholder "firstscreen" %}
    {% static_placeholder "breadcrumbs" %}
    {% placeholder "content" %}
    {% static_placeholder "footer" %}
    {% endblock placeholders %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {% block bootstrap_js %}
                <script src='/static/js/bootstrap.min.js'></script>
    {% endblock bootstrap_js %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    {% render_block "js" %}
    {% static_placeholder "footer_snippet" %}

</body>
</html>