@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

html, body{
    padding:0;
    margin:0;    
    height:100%;
}

.djangocms-bg-text h1,
.djangocms-bg-text h2,
.djangocms-bg-text h3,
.djangocms-bg-text h4,
.djangocms-bg-text h5{
    font-weight: 300;
    margin-bottom:10px;
}
.djangocms-bg-text h1{
    font-size:60px;
}
.djangocms-bg-text h2{
    font-size:50px;
}
.djangocms-bg-text h3{
    font-size:43px;
}
.djangocms-bg-text h4{
    font-size:37px;
}
.djangocms-bg-text h5{
    font-size:32px;
}
.djangocms-bg-text p{
    font-size: 20px;
    line-height:1.8;
}

@media (max-width: 990px){
    .djangocms-bg-text h1{
        font-size:50px;
    }
    .djangocms-bg-text h2{
        font-size:40px;
    }
    .djangocms-bg-text h3{
        font-size:33px;
    }
    .djangocms-bg-text h4{
        font-size:25px;
    }
    .djangocms-bg-text h5{
        font-size:20px;
    }   
}
@media (max-width: 760px){
    .djangocms-bg-text h1{
        font-size:40px;
    }
    .djangocms-bg-text h2{
        font-size:33px;
    }
    .djangocms-bg-text h3{
        font-size:25px;
    }
    .djangocms-bg-text h4{
        font-size:22px;
    }
    .djangocms-bg-text h5{
        font-size:20px;
    }   
}
@media (max-width: 500px){
    .djangocms-bg-text h1{
        font-size:38px;
    }
    .djangocms-bg-text h2{
        font-size:30px;
    }
    .djangocms-bg-text p{
        font-size:18px;
    }
}



.djangocms-bg-media{
    font-family: "Lato";
    width:100%;
    overflow: hidden;
    position:relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.djangocms-bg-overlay{
    width:100%;
    height:100%;
}
.djangocms-bg-inner-container{
    max-width: 1100px;
    margin:0 auto;
    position: relative;
    height: 100%;
}
.djangocms-bg-text-wrapper{
    display: table;
    height: 100%;
    text-align: center;
    top: 0;
    width: 100%;
}
.djangocms-bg-text{
    color: #fff;
    display: table-cell;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    font-weight: 300;
}
.djangocms-bg-text a{
    font-size:16px;
    line-height:40px;
    padding:0 20px;
    margin:7px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    text-transform:uppercase;
    border: 2px solid #fff;
    -webkit-transition:all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    -ms-transition:all 0.2s ease-out;
}
.djangocms-bg-text a:hover{
    background:#fff;
    color: #232323;
}
.djangocms-bg-highlight{
    color:#EED5B7;
}