{% load menu_tags %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
  {% show_breadcrumb "breadcrumbs/breadcrumbs.html"%}
  </ol>
</nav>
